body {
    background-color: #FBF9CA;
    margin-left:20px;
}
#error_explanation {
    margin-bottom: 10px;
    width: 450px;
    border: 2px solid black;
    padding: 7px;
    background-color: #F0F0F0;
}
#notice{
    color: #0000FF;
}


